doctype html
html
  head
    title My App
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    link href="css/reset.css" media="all" rel="stylesheet"
    link href="css/vendor/bootstrap.min.css" media="all" rel="stylesheet"
    link href="css/font-awesome.css" media="all" rel="stylesheet"
    link href="css/flat-ui.css" media="all" rel="stylesheet"
    link href="css/main.css" media="all" rel="stylesheet"

  body
    section.container
      .row
        .col-md-6.col-xs-12.personal-information
          .heading
            img.avatar src="img/me.png"
            h1 Edgar Meinart
          ul.contacts
            li
              a href="maito:edgars@meinarts.name"
                i class="fa fa-envelope"
            li
              a href="maito:edgars@meinarts.name"
                i class="fa fa-facebook-square"
            li
              a href="maito:edgars@meinarts.name"
                i class="fa fa-linkedin"
            li
              a href="maito:edgars@meinarts.name"
                i class="fa fa fa-twitter"
            li
              a href="maito:edgars@meinarts.name"
                i class="fa fa-github-square"

        .col-md-6.col-xs-12.additional-information
          .heading
            h1
              i.fa.fa-thumbs-up
              | &nbsp;
              | Skills
          ul.skills
            li
              span.animated.animated
                a href="#"
                  i.fa.fa-star
                  span.hidden-text
                    | &nbsp;
                    | Excelent!
              span
                | Ruby
            li
              span.animated
                a href="#"
                  i.fa.fa-star
                  span.hidden-text
                    | &nbsp;
                    | Excelent!
              span
                | Rails
            li
              span.animated
                a href="#"
                  i.fa.fa-star
                  span.hidden-text
                    | &nbsp;
                    | Excelent!
              span
                | Rspec
            li
              span.animated
                a href="#"
                  i.fa.fa-star
                  span.hidden-text
                    | &nbsp;
                    | Excelent!
              span
                | Sinatra
            li
              span.animated
                a href="#"
                  i.fa.fa-star
                  span.hidden-text
                    | &nbsp;
                    | Excelent!
              span
                | Unicorn
            li
              span.animated
                a href="#"
                  i.fa.fa-star
                  span.hidden-text
                    | &nbsp;
                    | Excelent!
              span
                | Passenger
            li
              span.animated
                a href="#"
                  i.fa.fa-star
                  span.hidden-text
                    | &nbsp;
                    | Excelent!
              span
                | Capistrano

            li
              hr

            li
              span.animated
                a href="#"
                  i.fa.fa-star
                  span.hidden-text
                    | &nbsp;
                    | Excelent!
              span
                | HTML 5
            li
              span.animated
                a href="#"
                  i.fa.fa-star
                  span.hidden-text
                    | &nbsp;
                    | Excelent!
              span
                | CoffeeScript
            li
              span.animated
                a href="#"
                  i.fa.fa-star
                  span.hidden-text
                    | &nbsp;
                    | Excelent!
              span
                | jQuery
            li
              span.animated
                a href="#"
                  i.fa.fa-star
                  span.hidden-text
                    | &nbsp;
                    | Excelent!
              span
                | Backbone.js
            li
              span.animated
                a href="#"
                  i.fa.fa-star
                  span.hidden-text
                    | &nbsp;
                    | Excelent!
              span
                | Spine.js

            li
              hr

            li
              span.animated
                a href="#"
                  i.fa.fa-star-half-o
                  span.hidden-text
                    | &nbsp;
                    | Good!
              span
                | Unix
            li
              span.animated
                a href="#"
                  i.fa.fa-star-half-o
                  span.hidden-text
                    | &nbsp;
                    | Good!
              span
                | nginx

            li
              hr

            li
              span.animated
                a href="#"
                  i.fa.fa-star
                  span.hidden-text
                    | &nbsp;
                    | Excelent!
              span
                | GIT

            li
              hr

            li
              span.animated
                a href="#"
                  i.fa.fa-star-half-o
                  span.hidden-text
                    | &nbsp;
                    | Good!
              span
                | English
            li
              span.animated
                a href="#"
                  i.fa.fa-star-half-o
                  span.hidden-text
                    | &nbsp;
                    | Good!
              span
                | Russian

            li
              span.animated
                a href="#"
                  i.fa.fa-star-half-o
                  span.hidden-text
                    | &nbsp;
                    | Good!
              span
                | Latvian


    footer.footer
      div.container
        div.col-md-6
          i.fa.fa-copyright
          | &nbsp; Edgar Meinart
        div.col-md-6
          | aabbcc
