doctype html
html
  head
    title Edgar Meinart
    meta name="og:title" content="Webpage of the NINJA!"
    meta name="description" content="Web page of tough guy who likes to code!"
    meta name="og:description" content="Web page of tough guy who likes to code!"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    link rel="shortcut icon" href="img/favicon.png"
    link href="css/reset.css" media="all" rel="stylesheet"
    link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'
    link href="css/font-awesome.css" rel='stylesheet' type='text/css'
    link href="css/main.css" rel='stylesheet' type='text/css'
    link href="css/projects.css" rel='stylesheet' type='text/css'
    link href="css/mobile.css" rel='stylesheet' type='text/css'

  body
    section.project-list
      ul
        li.hidden
          a href="#"
            img src="img/projects/hidden.svg"
          h2
            i
              | *****
          h3
            | Back-end developend
          p.tags
            a href="#"
              | #Commercial
          hr

        li.hidden
          a href="#"
            img src="img/projects/hidden.svg"
          h2
            i
              | *****
          h3
            | Back-end developend
          p.tags
            a href="#"
              | #Commercial
          hr


    script src="js/jquery.js"
    script src="js/actions.js"
    / javascript:
    /   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    /   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    /   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    /   })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
    /   ga('create', 'UA-51510156-1', 'auto');
    /   ga('send', 'pageview');

