$link_colors: #2895f1;

$body_color: white;

// Index page colors
$index_block_color: white;
$index_heading_text_color: black;
$index_email_color: red;

// Menu colors
$menu_background_color: #ECECEC;
$menu_item_color: #6C7A89;
$menu_selected_item_color: #95A5A6;
$menu_close_button_color: #446CB3;