@import "bourbon";

.project-list {

  font-family: 'Lato', sans-serif;
  text-align: center; // REFACT
  margin-top: 60px;

  > ul {
    width: 90%;
    display: inline-block;
    margin-top: -20px;
    margin-bottom: 40px;

    > li {
      float: left;
      width: 40%;
      margin: 20px 5% 0 5%;

      &.hidden {
        > .info {
          h2 {
            span { background-color: black; color: black; }
          }
        }
      }

      > .info {
        position: relative;

        .primary {
          text-decoration: none;

          display: block;
          position: relative;
          min-height: 200px;
          border: 1px solid black;
          overflow: hidden;

          &:hover {
            &::before { opacity: 0; }
            > h2, h4, h5 {
              @include transform(translate3d(0, 70px, 0));
            }
          }

          &::before {
            top: 0; left: 0;
            z-index: 1;
            position: absolute;
            width: 100%; height: 100%;
            content: '';
            background: black;
            opacity: 0.9;
            @include transition(opacity .4s ease-in 0s);
          }
          > h2 {
            text-align: center;
            margin-top: 140px;
            font-size: 20px;
            text-transform: uppercase;
          }
          > h4 {
            text-transform: lowercase;
          }
          > h5 {
            font-size: 13px;
            padding-top: 5px;
            text-transform: uppercase;
          }
          > h2, h4, h5 {
            font-weight: 200;
            @include transition-property(transform);
            @include transition-duration(0.4s);
            position: relative;
            z-index: 2;
            color: white;
          }

        }

      }

    }

  }

}

.cover-backgrounds {

  &.gamewin {
    background: url(../img/projects/gamewin.png) no-repeat no-repeat;
    background-size: cover;
  }
  &.kapchonka {
    background: url(../img/projects/kapchonka.png) no-repeat no-repeat;
    background-size: cover;
  }
  &.cards-ivi-lv {
    background: url(../img/projects/cards_ivi_lv.png) no-repeat no-repeat;
    background-size: cover;
  }
  &.family-app {
    background: url(../img/projects/family_app.png) no-repeat no-repeat;
    background-size: cover;
  }
  &.challenge4u {
    background: url(../img/projects/challenge4u.png) no-repeat no-repeat;
    background-size: cover;
  }
  &.your-project {
    background: url(../img/projects/your_project.png) no-repeat no-repeat;
    background-size: cover;
  }

}