@import "bourbon";


@media (max-width: 650px) {

  .wrapper {
    min-width: 350px;
    font-family: 'Lato', sans-serif;
    position: inherit; top: inherit; left: inherit;
    @include transform(translateX(0) translateY(0));
    width: 100%;
    height: inherit;
    > .content {
      min-height: inherit;
      > div {
        text-align: center;
        float: none;
        display: block;
        width: 100%;
        &.about-me {
          > ul.skills {
            text-align: center;
            li {
              float: none;
              img { width: 80px; height: auto; margin-top: 20px; }
            }
          }
        }
      }
    }
  }

  .project-list {
    > ul {
      > li {
        float: left;
        margin: 0 0 10px 0;
        width: 100%; min-width: auto;
        > hr { display: block; background-color: gray; margin: 40px 20px 0 20px }

      }
    }
  }


}
