@import "bourbon";

.project-list {
  font-family: 'Lato', sans-serif;

	> ul {
		// margin: 20px 0 -2em -2em;
		> li {
			float: left;
			margin: 1em 0 0 calc(100% / 8);

			width: calc(100% / 6); min-width: 100px;

			> a {
				display: block;
				img { width: 100%; height: auto; }
			}
			> h2, h3 { text-align: center; }
			> p {
				text-align: center;
			}
			> hr { display: none; border: 0; height: 1px; }
			&.hidden {
				> h2 {
					i {
						background-color: black;
					}
				}
			}
		}
	}


}